:root{
    --Slate:#434455;
    --Iris:#4D5AE5;
    --Navy-Blue:#2E2F42;
    --White:#FFFFFF;
    --Cloud:#F4F4FD;
    --Cornflower:#E7E9FC;
}
body{
    color:var(--Navy-Blue);
    font-family:'Roboto';
    line-height: 1.50;
    font-size: 16px;
}
/* container */
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
.visually-hidden{ 
    position: absolute;
     white-space: nowrap;
      width: 1px; height: 1px;
       overflow: hidden; 
       border: 0; padding: 0; 
       clip: rect(0 0 0 0); 
       clip-path: inset(50%); 
       margin: -1px; 
       font-weight: 600;
       font-size: 36px;
       line-height:1.11;
    }

/*Header Styles*/

.header{
    color:var(--White);
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.webstudio{
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    display: flex;
}
.web{
    color:var(--Iris);
    font-weight: 900;
    font-family:'Raleway';
    font-size: 18px;
    line-height:1.33;
    text-decoration: none;
    text-transform: uppercase;
}
.studio-header{
    color:var(--Navy-Blue);
    font-family:'Raleway';
    font-weight: 900;
    font-size: 18px;
    line-height:1.33;
    text-decoration: none;
    text-transform: uppercase;
}
.group-navigation{
    display: flex;
}
.navigation{
    color:var(--Navy-Blue);
    font-weight: 600;
    text-decoration:none;
    margin-right: 24px;
    display: flex;
}
.group-info{
    display: flex;
}
.info{
    color:var(--Slate);
    text-decoration: none;
    display: flex; 
}
.tel{
    color:var(--Slate);
    text-decoration: none;
    display: flex;
}
/* Main Styles */

.main-index{
}
/*  */
.main-content{
    background-color:var(--Navy-Blue);
    padding: 120px;
}
.main-text{
    color:var(--White);
    font-weight: 600;
    font-size: 56px;
    line-height:1.07;
    text-align: center;
    vertical-align: top;
    letter-spacing: 0.02em;
}
.order_service{
    cursor:pointer;
    background-color: var(--Iris);
    color:var(--White);
    font-weight: 600;
    font-family:'Roboto';
    font-style: inherit;  
    line-height: 1.50;
    font-size: 16px;
    padding: 16px 32px;
    gap: 10px;
    flex-direction: row;
    align-items: flex-start;

}
/*  */
.main-our_skills{
}
.group-our_skills{
    display: flex;
}
.list-our_skills{
    list-style-type: none;
    margin-right: auto;
 }
 /*  */
.main-what_we_doing{
    padding: 120px;
}
.text-what_we_doing{
    text-align: center;
    vertical-align: top;
}
.group-we_doing{
    display: flex;
    justify-content: center;
}
.list-we_doing{
    list-style-type: none;
    margin-right: 24px;
}
/*  */
.our_team{
    background-color: var(--Cloud); 
    padding: 120px;
    justify-content: space-around;
}
.group-our_team{
    display: flex;
    justify-content: space-around;
}
.list-photos{
    list-style-type: none;
    margin-right: auto;
}
/* Portfolio.html */
.main-portfolio{
    left:0px;
    top:72px;
    padding: 120px;
}
/*  */
.list-block_photo{
    list-style-type: none;
    width:360px; 
}
.list-button{
    list-style-type: none;
}
.button-portfolio:hover{
    background-color: var(--Iris);
    color:var(--White);
    font-weight: 600;
    cursor:pointer;
    font-style: inherit;  
    font-family:'Roboto';
    line-height: 1.50;
    font-size: 16px;  
}
.button-portfolio{
    background-color: var(--Cloud);
    color:var(--Iris);
    font-weight: 600;
    cursor:pointer;
    font-style: inherit;
    font-family:'Roboto';
    line-height: 1.50;
    font-size: 16px;
}
.section-portfolio{
    padding: 120px;
}
/* Standart Styles */
.section-text{
    font-weight: 600;
    font-size: 36px;
    line-height:1.11;
}
.h_text{
    font-weight: 600;
    font-size: 20px;
    line-height:1.20;
}
.p_text{
    color:var(--Slate);
}
/*footer styles*/

.footer{
    color:var(--Cornflower);
    background-color:var(--Navy-Blue);
    padding: 120px;
}
.studio-footer{
    color:var(--Cloud);
    font-family:'Raleway';
    font-weight: 900;
    font-size: 18px;
    line-height:1.33;
    text-decoration: none;
    text-transform: uppercase;
}
