:root {
  --Slate: #434455;
  --LightSlate: #8e8f99;
  --Iris: #4d5ae5;
  --Navy-Blue: #2e2f42;
  --White: #ffffff;
  --Cloud: #f4f4fd;
  --Cornflower: #e7e9fc;
  --Green: #31d0aa;
  --Ocean: #404bbf;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* #region Basic Styles */
body {
  color: var(--Navy-Blue);
  font-family: "Roboto";
  line-height: 1.5;
  font-size: 16px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* #endregion */
/* #region Container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 428px;
}

@media screen and (min-width: 768px) {
  .container.block-header {
    display: flex;
    justify-content: space-between;
  }
  .container {
    max-width: 766px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/*#endregion*/
/*#region Standart Styles */
.section_text {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  margin: 0;
  margin-bottom: 72px;
}
.h_text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 8px;
}
.p_text {
  color: var(--Slate);
  margin: 0;
}
/* #endregion */
/*#region Header Styles*/
.header {
  color: var(--White);
}
.container.block-header {
  display: flex;
  align-items: center;
}
.webstudio {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  padding: 24px 0;
}
.nav {
  display: flex;
}
.web {
  color: var(--Iris);
  font-weight: 900;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
.studio-header {
  color: var(--Navy-Blue);
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
.group-navigation {
  display: flex;
  margin: 0;
  margin-left: 77px;
  padding-left: 0;
}
.list-navigation:not(:last-child) {
  margin-right: 40px;
}
.list-navigation.current_page .navigation::after {
  opacity: 1;
}
.list-navigation.current_page .navigation,
.navigation:hover,
.navigation:focus {
  color: var(--Iris);
}
.navigation {
  position: relative;
  color: var(--Navy-Blue);
  font-weight: 600;
  text-decoration: none;
  display: block;
  padding: 24px 0;
  transition: color 250ms var(--timing-function);
}
.navigation::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  background-color: var(--Ocean);
  height: 4px;
  width: 100%;
  opacity: 0;
}
.navigation:hover,
.navigation:focus {
  color: var(--Ocean);
}
.group-info {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.list-info:not(:last-child) {
  margin-right: 40px;
}
.info {
  color: var(--Slate);
  text-decoration: none;
}
.tel {
  color: var(--Slate);
  text-decoration: none;
  margin: 0;
  transition: color 250ms var(--timing-function);
}
.info:focus,
.tel:focus,
.info:hover,
.tel:hover {
  color: var(--Ocean);
}
/*#region Header portfolio Styles  */
.header-portfolio {
  color: var(--White);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/*#endregion  */
.menu-toggle {
  height: 22px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: black;
}
.menu-toggle:hover,
.menu-toggle:focus {
  box-shadow: none;
}
.icon-menu-button {
  height: 22px;
}
@media screen and (max-width: 767px) {
  .container.block-header {
    display: flex;
    align-items: center;
  }
  .group-navigation {
    display: none;
  }
  .group-info {
    display: none;
  }
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-toggle {
    display: none;
  }
  .group-info {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
  }
  .list-info:not(:last-child) {
    margin-right: 0px;
  }
  .info {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .tel {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}
/* #endregion */
/* #region Mobile Menu  */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  margin-left: auto;
  margin-bottom: 16px;
  transform: translate(100%, -100%);
  fill: black;
  background: var(--Cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.icon-mobile_menu-button {
  /* width: 8px;
  height: 8px; */
}
.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
  background-color: var(--Ocean);
  fill: white;
}
.menu-mobile_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  width: 100%;
  height: 100%;
}
.list-navigation.mobile_menu:not(:last-child) {
  margin-bottom: 40px;
}
.list-navigation.mobile_menu.current_page .navigation-mobile_menu,
.navigation-mobile_menu:hover,
.navigation-mobile_menu:focus {
  color: var(--Iris);
}
.navigation-mobile_menu {
  position: relative;
  color: var(--Navy-Blue);
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */
  padding: 0;
  transition: color 250ms var(--timing-function);
}
.navigation-mobile_menu:hover,
.navigation-mobile_menu:focus {
  color: var(--Ocean);
}
.group-info-mobile_menu {
  margin-top: auto;
}
.list-info-mobile_menu:not(:last-child) {
  margin-bottom: 40px;
}
.tel.mobile_menu {
  color: var(--Iris);
  text-decoration: none;
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */
  transition: color 250ms var(--timing-function);
}
.info.mobile_menu {
  color: var(--Slate);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.info.mobile_menu:focus,
.info.mobile_menu:hover {
  color: var(--Ocean);
}
.group-messenger.mobile_menu {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0;
  margin-top: 48px;
}
.list-messenger-mobile_menu {
  list-style-type: none;
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
/* #endregion */

/* Main Styles */

/*#region Main Content */
.main-content {
  background-color: var(--Navy-Blue);
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0px;
}
@media (min-resolution: 2dppx) {
  .main-content {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile\ 2x.jpg");
  }
}
@media (min-width: 768px) {
  .main-content {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet.jpg");
  }
  @media (min-resolution: 2dppx) {
    .main-content {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/tablet\ 2x.jpg");
    }
  }
}
@media (min-width: 1200px) {
  .main-content {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop.jpg");
    max-width: 1440px;
    margin: 0 auto;
  }
  @media (min-resolution: 2dppx) {
    .main-content {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/desktop\ 2x.jpg");
    }
  }
}
.main-text {
  color: var(--White);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 48px;
  max-width: 492px;
  margin-left: auto;
  margin-right: auto;
}
.order_service {
  cursor: pointer;
  background-color: var(--Iris);
  color: var(--White);
  font-weight: 600;
  font-family: inherit;
  line-height: 1.5;
  font-size: 16px;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.order_service:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.order_service:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background: #404bbf;
}

@media (min-width: 480px) {
}
@media screen and (max-width: 767px) {
  .main-text {
    font-size: 36px;
    line-height: 1.11;
    max-width: 492px;
    width: 319px;
    /* or 111% */
  }
  .main-content {
    padding: 112px 0px;
  }
}
@media screen and (max-width: 1199px) {
  .main-content {
    padding: 112px 0px;
  }
}
@media (min-width: 768px) {
  .main-text {
    font-size: 56px;
    line-height: 1.07;
  }
}
/* #endregion */
/* #region Our skills */
.main-our_skills {
  padding-top: 120px;
  padding-bottom: 120px;
}
.group-our_skills {
  display: flex;
  justify-content: center;
}
.thumb {
  display: flex;
  background: #f4f4fd;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
}
.icon-our_skills {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 768px) {
  .group-our_skills {
    display: block;
  }
  .h_text.our_skills {
    text-align: center;
  }
  .main-our_skills {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .list-our_skills:not(:last-child) {
    margin: 0;
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 1199px) {
  .thumb {
    display: none;
  }
  .h_text.our_skills {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-our_skills {
    padding: 96px 0px;
  }
  .group-our_skills {
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: flex-start;
  }
  .list-our_skills {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }
  .h_text.our_skills {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 1200px) {
  .list-our_skills:not(:last-child) {
    margin-right: 24px;
  }
}

/* #endregion */
/* #region  What we doing  */
.main-what_we_doing {
  padding-top: 0px;
  padding-bottom: 120px;
}

.group-we_doing {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.list-we_doing {
  list-style-type: none;
  border: 1px solid var(--Cornflower);
  overflow: hidden;
}
.list-we_doing:not(:last-child) {
  margin-right: 24px;
}
@media screen and (max-width: 1199px) {
  .main-what_we_doing {
    display: none;
  }
}
/* #endregion */
/* #region Our Team  */
.main-our_team {
  background-color: var(--Cloud);
  margin: 0;
  margin-left: 0px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.group-our_team {
  display: flex;
}
.list-photos {
  background-color: #ffffff;
  list-style-type: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.card-our_team {
  padding: 32px 0;
}
.h_text.our_team {
  text-align: center;
}
.p_text.our_team {
  text-align: center;
}
.img-our_team {
  margin-left: auto;
  margin-right: auto;
}

.group-messenger {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin: 0;
  margin-top: 8px;
}
.list-messenger {
  list-style-type: none;
}
.list-messenger:not(:last-child) {
  margin-right: 24px;
}
.tag-messenger {
  display: flex;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: var(--Iris);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  transition: background-color 250ms var(--timing-function);
  fill: var(--Cloud);
}
.tag-messenger:hover {
  background-color: var(--Ocean);
}
.icon-our_team {
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 767px) {
  .group-our_team {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .main-our_team {
    padding-top: 96px;
    padding-bottom: 128px;
  }
  .list-photos:not(:last-child) {
    margin-bottom: 72px;
  }
  .list-photos {
    max-width: 264px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-our_team {
    padding: 96px 0px 104px 0px;
  }
  .main-our_team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .group-our_team {
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
  }
  .list-photos {
    width: calc((100% - 24px) / 2);
    margin: 0;
    max-width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .list-photos:not(:last-child) {
    margin-right: 24px;
  }
}
/* #endregion */
/* #region Customers */
.customer {
  padding: 120px 0px;
}
.group-customers {
  display: flex;
  padding-left: 0px;
  margin: 0;
}
.list-customers {
  list-style-type: none;
  width: calc((100% - 5 * 24px) / 6);
}
.block-customers {
  display: flex;
  width: 100%;
  height: 88px;
  border: 1px solid var(--LightSlate);
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  fill: var(--LightSlate);
  transition: fill 250ms var(--timing-function),
    border 250ms var(--timing-function);
}
.block-customers:hover {
  fill: var(--Iris);
  border: 1px solid var(--Iris);
}
.icon-customers {
  height: 56px;
}
@media screen and (max-width: 767px) {
  .customer {
    padding: 96px 0px;
  }
  .group-customers {
    flex-wrap: wrap;
    gap: 72px 16px;
  }
  .list-customers {
    width: calc((100% - 16px) / 2);
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customer {
    padding: 96px 92px;
  }
  .group-customers {
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
    row-gap: 72px;
  }
  .list-customers {
    width: calc((100% - 2 * 24px) / 3);
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .list-customers:not(:last-child) {
    margin-right: 24px;
  }
  .group-customers {
    justify-content: center;
  }
}
/* #endregion */
/*#region Portfolio.html */
.menu-container.portfolio {
  width: auto;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.group-button-portfolio {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 72px;
}
.list-button {
  list-style-type: none;
}
.list-button:not(:last-child) {
  margin-right: 24px;
}
.button-portfolio {
  background-color: var(--Cloud);
  color: var(--Iris);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.5;
  font-size: 16px;
  border: 1px solid var(--Cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.button-portfolio:hover {
  background-color: var(--Iris);
  color: var(--White);
  border-color: var(--Iris);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.group-block-photo {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 48px 24px;
  list-style-type: none;
}
.list-block_photo {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.tag-block_photo {
  display: block;
  text-decoration: none;
  color: var(--Navy-Blue);
  transition: box-shadow 250ms var(--timing-function);
}
.tag-block_photo:hover,
:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.tag-block_photo:hover .text-overlay {
  transform: translateY(-100%);
}

.img-block-photo {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--Iris);
  transform: translateY(0%);
  transition: transform 250ms var(--timing-function);
}
.img-block-text {
  color: #f4f4fd;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 32px 40px;
}
.card-block-photo {
  padding: 32px 16px;
  border: 0.5px solid var(--Cornflower);
  border-top: 0;
}
@media screen and (max-width: 767px) {
  .section-portfolio {
    padding: 48px 0px;
  }
  .group-block-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .list-block_photo {
    margin: 0 auto;
  }
  .list-button:not(:last-child) {
    margin: 0;
  }
  .list-block_photo:not(:last-child) {
    margin-bottom: 48px;
  }
  .list-button {
    list-style-type: none;
  }
  .group-button-portfolio {
    flex-wrap: wrap;
    gap: 16px 24px;
    justify-content: flex-start;
  }
  .list-button {
    margin: 0;
  }
  .button-portfolio {
    padding: 8px 16px;
  }
}
@media screen and (min-width: 768px) {
  .list-button:not(:last-child) {
    margin: 0;
    margin-right: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-portfolio {
    padding: 64px 0px 96px 0px;
  }
  .group-block-photo {
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .list-block_photo {
    width: calc((100% - 24px) / 2);
    flex-basis: auto;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
}
/* #endregion */
/*#region Footer styles*/
.footer {
  color: var(--Cornflower);
  background-color: var(--Navy-Blue);
  padding: 100px 0px;
  /* display: flex; */
}
.container.block-footer {
  display: flex;
}
.webstudio.footer-webstudio {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.web.footer {
  color: var(--Iris);
  padding: 0px;
}
.studio-footer {
  color: var(--Cloud);
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 0;
}
.footer-p_text {
  margin: 0px;
  margin-top: 16px;
}
.footer-p_text.footer-block-text {
  width: 264px;
}
.footer-social_media {
  margin-left: auto;
}
.footer-p_text.social_media {
  margin-top: 0px;
  font-weight: 500;
}
.group-social_media {
  padding-left: 0px;
  display: flex;
  margin-top: 16px;
}
.list-social_media {
  list-style-type: none;
}
.list-social_media:not(:last-child) {
  margin-right: 16px;
}
.button-social_media {
  display: flex;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--Cloud);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: background-color 250ms var(--timing-function);
}
.icon-social_media {
  width: 24px;
  height: 24px;
}
.button-social_media:hover {
  background-color: var(--Green);
}
.footer-subscribe {
  margin-left: auto;
}
.form-subscribe {
  margin-top: 16px;
  display: flex;
}
.input-subscribe-email {
  color: rgba(255, 255, 255, 0.6);
  width: 264px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;

  background-color: var(--Navy-Blue);
}
.input-subscribe-email::placeholder {
  line-height: 2;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-button-send {
  cursor: pointer;
  background-color: var(--Iris);
  color: var(--White);
  font-weight: 600;
  font-family: inherit;
  line-height: 1.5;
  font-size: 16px;
  padding: 8px 24px;
  justify-content: center;
  margin-left: 24px;
  border: 0;
  width: 169px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.subscribe-button-send:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-button-send:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background: #404bbf;
}
.subscribe-icon-block {
  margin-left: 16px;
  width: 24px;
  height: 24px;
}
.subscribe-icon {
  width: 24px;
  height: 24px;
  fill: white;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 96px 0px;
  }
  .container.block-footer {
    display: block;
  }
  .footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
  .webstudio.footer-webstudio {
    margin: 0 auto;
  }
  .footer-social_media {
    text-align: center;
    margin-bottom: 72px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }
  .footer-subscribe {
    text-align: center;
  }
  .group-social_media {
    justify-content: center;
  }
  .form-subscribe {
    display: block;
  }
  .input-subscribe-email {
    width: 100%;
  }
  .subscribe-button-send {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    width: 164px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    padding: 96px 92px;
  }
  .container.block-footer {
    flex-flow: row wrap;
    align-items: baseline;
  }
  .footer-subscribe {
    margin: 0;
    margin-top: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social_media {
    margin-left: 120px;
  }
}
/* #endregion */
/* #region Modal */
.backdrop {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-function);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  position: absolute;
  padding: 72px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-button {
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  margin: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
  fill: black;
  position: absolute;
  top: 24px;
  right: 24px;
}
.modal-button:hover {
  background-color: var(--Ocean);
  fill: white;
}

.icon-modal-button {
  width: 8px;
  height: 8px;
}
.modal-h_text {
  letter-spacing: 2%;
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}
.modal-form-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-form-input {
  padding: 11px 4px;
  padding-left: 38px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.modal-form-list {
  margin-bottom: 8px;
}
.modal-form-list.textarea {
  margin-bottom: 16px;
}
.modal-form-input:focus,
.modal-form-input:focus-visible {
  border-color: var(--Iris);
  outline: 0px;
}
.modal-form-textarea {
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal-form-textarea:focus-visible {
  outline: none;
}
.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--LightSlate);
}
.modal-form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
}

.modal-form-icons {
  fill: var(--Navy-Blue);
  transition: fill 250ms var(--timing-function);
  position: absolute;
  width: 18px;
  height: 24px;
  transform: translateY(50%);
  position: absolute;
  left: 16px;
  top: 0;
  display: inline-block;
}

.modal-form-input-icon {
  width: 18px;
  height: 24px;
}
.modal-form-input-icon.person {
  height: 18px;
}

.modal-form-input:focus ~ .modal-form-icons {
  fill: var(--Iris);
}

.modal-checkbox {
  appearance: none;
}
.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.modal-block-checkbox {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  fill: white;
  transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
  display: inline-block;
}
.modal-checkbox:checked ~ .modal-block-checkbox {
  border: 1.25px solid var(--Ocean);
  background-color: var(--Ocean);
}
.modal-checkbox-icon {
  margin: 4px 3px;
  width: 10px;
  height: 8px;
}
.modal-text-privacy {
  color: var(--Iris);
}
.modal-button-send {
  cursor: pointer;
  background-color: var(--Iris);
  color: var(--White);
  font-weight: 600;
  font-family: inherit;
  line-height: 1.5;
  font-size: 16px;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.modal-button-send:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-button-send:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background: #404bbf;
}
body.modal-open {
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .backdrop {
    width: 100%;
    height: 100%;
    padding: 96px 18px;
  }
  .modal {
    position: relative;
    padding: 24px 16px;
  }
  .modal-button {
    position: relative;
    margin-left: auto;
    margin-bottom: 24px;
    transform: translate(100%, -100%);
  }
}
@media screen and(min-width:768px) and(max-width:1199px) {
  .modal {
    position: relative;
    padding: 24px 25px;
    min-width: 408px;
    min-height: 586px;
  }
  .modal-button {
    position: relative;
    margin-left: auto;
    margin-bottom: 24px;
    transform: translate(100%, -100%);
  }
}
/* #endregion */
