:root {
  --Slate: #434455;
  --LightSlate: #8e8f99;
  --Iris: #4d5ae5;
  --Navy-Blue: #2e2f42;
  --White: #ffffff;
  --Cloud: #f4f4fd;
  --Cornflower: #e7e9fc;
  --Green: #31d0aa;
  --Ocean: #404bbf;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: var(--Navy-Blue);
  font-family: "Roboto";
  line-height: 1.5;
  font-size: 16px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* container */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container.block {
  display: flex;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/*Header Styles*/

.header {
  color: var(--White);
}
.webstudio {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  padding: 24px 0;
}
.nav {
  display: flex;
}
.web {
  color: var(--Iris);
  font-weight: 900;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
.studio-header {
  color: var(--Navy-Blue);
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
.group-navigation {
  display: flex;
  margin: 0;
  margin-left: 77px;
  padding-left: 0;
}
.list-navigation:not(:last-child) {
  margin-right: 40px;
}
.list-navigation.current_page .navigation::after {
  opacity: 1;
}
.list-navigation.current_page .navigation,
.navigation:hover,
.navigation:focus {
  color: var(--Iris);
}
.navigation {
  position: relative;
  color: var(--Navy-Blue);
  font-weight: 600;
  text-decoration: none;
  display: block;
  padding: 24px 0;
  transition: color 250ms var(--timing-function);
}
.navigation::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  background-color: var(--Ocean);
  height: 4px;
  width: 100%;
  opacity: 0;
}
.navigation:hover {
  color: var(--Slate);
}
.navigation:focus {
  color: var(--Iris);
}
.group-info {
  display: flex;
  margin: 0;
  padding: 24px 0px;
  margin-left: auto;
}
.info {
  color: var(--Slate);
  text-decoration: none;
  display: block;
  margin-right: 40px;
}
.tel {
  color: var(--Slate);
  text-decoration: none;
  display: block;
  margin: 0;
  transition: color 250ms var(--timing-function);
}
.info:focus,
.tel:focus {
  color: var(--Ocean);
}
/* Header portfolio Styles  */
.header-portfolio {
  color: var(--White);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* Main Styles */
.main-index {
}
/* Main Content */
.main-content {
  background-color: var(--Navy-Blue);
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 192px 0px;
}
.main-text {
  color: var(--White);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 492px;
}
.order_service {
  cursor: pointer;
  background-color: var(--Iris);
  color: var(--White);
  font-weight: 600;
  font-family: inherit;
  line-height: 1.5;
  font-size: 16px;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.order_service:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.order_service:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background: #404bbf;
}
/* Our skills */
.main-our_skills {
  padding-top: 120px;
  padding-bottom: 120px;
}
.group-our_skills {
  display: flex;
  padding-left: 0px;
  margin: 0;
}
.thumb {
  display: flex;
  background: #f4f4fd;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
}
.icon-our_skills {
  width: 64px;
  height: 64px;
}
.list-our_skills {
  list-style-type: none;
}
.list-our_skills:not(:last-child) {
  margin-right: 24px;
}

/* What we doing  */
.main-what_we_doing {
  padding-top: 0px;
  padding-bottom: 120px;
}

.group-we_doing {
  display: flex;
  padding-left: 0px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.list-we_doing {
  list-style-type: none;
  border: 1px solid var(--Cornflower);
  overflow: hidden;
}
.list-we_doing:not(:last-child) {
  margin-right: 24px;
}
/* Our Team  */
.our_team {
  background-color: var(--Cloud);
  margin: 0;
  margin-left: 0px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.group-our_team {
  display: flex;
  text-align: center;
  padding-left: 0px;
  margin: 0;
}
.list-photos {
  background-color: #ffffff;
  list-style-type: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}
.list-photos:not(:last-child) {
  margin-right: 24px;
}
.card-our_team {
  padding: 32px 0;
}
.group-messenger {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin: 0;
  margin-top: 8px;
}
.list-messenger {
  list-style-type: none;
}
.list-messenger:not(:last-child) {
  margin-right: 24px;
}
.tag-messenger {
  display: flex;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  background-color: var(--Navy-Blue);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  transition: background-color 250ms var(--timing-function);
}
.tag-messenger:hover {
  background-color: var(--Iris);
}
.icon-our_team {
  width: 16px;
  height: 16px;
}
.customer {
  padding: 120px 0px;
}
.group-customers {
  display: flex;
  padding-left: 0px;
  margin: 0;
}
.list-customers {
  list-style-type: none;
  flex-basis: calc((100% - 120px) / 6);
}
.list-customers:not(:last-child) {
  margin-right: 24px;
}
.block-customers {
  display: flex;
  height: 88px;
  border: 1px solid var(--LightSlate);
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  fill: var(--LightSlate);
  transition: fill 250ms var(--timing-function),
    border 250ms var(--timing-function);
}
.block-customers:hover {
  fill: var(--Iris);
  border: 1px solid var(--Iris);
}
.icon-customers {
  width: 104px;
  height: 56px;
}
/* Portfolio.html */

/*  */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.group-button-portfolio {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 72px;
}
.list-button {
  list-style-type: none;
}
.list-button:not(:last-child) {
  margin: 0;
  margin-right: 24px;
}
.button-portfolio {
  background-color: var(--Cloud);
  color: var(--Iris);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.5;
  font-size: 16px;
  border: 1px solid var(--Cornflower);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.button-portfolio:hover {
  background-color: var(--Iris);
  color: var(--White);
  border-color: var(--Iris);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.group-block-photo {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 48px 24px;
  list-style-type: none;
}
.list-block_photo {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.tag-block_photo {
  display: block;
  text-decoration: none;
  color: var(--Navy-Blue);
  transition: box-shadow 250ms var(--timing-function);
}
.tag-block_photo:hover,
:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.tag-block_photo:hover .text-overlay {
  transform: translateY(-100%);
}
/* .tag-block_photo:hover .img-block-photo::before {
  transform: translateY(0%);
} */
.img-block-photo {
  position: relative;
  overflow: hidden;
}
/* .img-block-photo::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(0%);
  transition: transform 250ms var(--timing-function);
}
.img-block-text {
  color: #f4f4fd;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 32px 40px;
}
.card-block-photo {
  padding: 32px 16px;
  border: 0.5px solid var(--Cornflower);
  border-top: 0;
}
/* Standart Styles */
.section_text {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  margin: 0;
  margin-bottom: 72px;
}
.h_text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 8px;
}
.p_text {
  color: var(--Slate);
  margin: 0;
}
/*footer styles*/

.footer {
  color: var(--Cornflower);
  background-color: var(--Navy-Blue);
  padding: 100px 0px;
  display: flex;
}
.webstudio.footer {
  padding: 0;
}
.web.footer {
  color: var(--Iris);
  padding: 0px;
}
.studio-footer {
  color: var(--Cloud);
  font-family: "Raleway";
  font-weight: 900;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 0;
  display: block;
}
.footer-p_text {
  width: 264px;
  margin: 0px;
  margin-top: 16px;
}
.footer-social_media {
  margin-left: 120px;
}
.footer-p_text.social_media {
  margin-top: 0px;
  font-weight: 500;
}
.group-social_media {
  padding-left: 0px;
  display: flex;
  margin-top: 16px;
}
.list-social_media {
  list-style-type: none;
}
.list-social_media:not(:last-child) {
  margin-right: 16px;
}
.button-social_media {
  display: flex;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: background-color 250ms var(--timing-function);
}
.button-social_media:hover {
  background-color: var(--Green);
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 408px;
  height: 576px;
  position: absolute;
  padding: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
}
.modal-button {
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("/images/close-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
